<div class="col-12">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Presupuestos consolidados
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-container">
        <table mat-table [dataSource]="dataSourcePresupuestos">
          <ng-container matColumnDef="anio">
            <th mat-header-cell *matHeaderCellDef>Año</th>
            <td mat-cell *matCellDef="let element"> {{element.Ano}}</td>
          </ng-container>

          <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef>Valor presupuestado</th>
            <td mat-cell *matCellDef="let element"> {{element.Valor | currency}}</td>
          </ng-container>

          <ng-container matColumnDef="valorComprometido">
            <th mat-header-cell *matHeaderCellDef>Valor comprometido</th>
            <td mat-cell *matCellDef="let element"> {{element.ValorComprometido | currency}}</td>
          </ng-container>

          <ng-container matColumnDef="valorDisponible">
            <th mat-header-cell *matHeaderCellDef>Valor disponible</th>
            <td mat-cell *matCellDef="let element"> {{element.ValorDisponible | currency}}</td>
          </ng-container>

          <ng-container matColumnDef="valorBloqueado">
            <th mat-header-cell *matHeaderCellDef>Valor bloqueado</th>
            <td mat-cell *matCellDef="let element"> {{element.ValorBloqueado | currency}}</td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button type="button" class="secondary-btn"><span class="material-icons"
                  (click)="obtenerPresupuestosAno(element.Ano)">more</span></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div class="col-12">
  <mat-card *ngIf="dataSourceDetallePresuesto.data.length > 0">
    <mat-card-header>
      <mat-card-title>Detalle presupesto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-container">
        <table mat-table [dataSource]="dataSourceDetallePresuesto">

          <ng-container matColumnDef="Anio">
            <th mat-header-cell *matHeaderCellDef> Año </th>
            <td mat-cell *matCellDef="let element"> {{element.Ano}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="Programa">
            <th mat-header-cell *matHeaderCellDef> Programa </th>
            <td mat-cell *matCellDef="let element"> {{element.Programa}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="Regional">
            <th mat-header-cell *matHeaderCellDef> Regional </th>
            <td mat-cell *matCellDef="let element"> {{element.Regional}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="Area">
            <th mat-header-cell *matHeaderCellDef> Area </th>
            <td mat-cell *matCellDef="let element"> {{element.Area}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <ng-container matColumnDef="Cluster">
            <th mat-header-cell *matHeaderCellDef> Cluster </th>
            <td mat-cell *matCellDef="let element"> {{element.Cluster}} </td>
            <td mat-footer-cell *matFooterCellDef> <b>TOTALES:</b></td>
          </ng-container>

          <ng-container matColumnDef="Valor">
            <th mat-header-cell *matHeaderCellDef> Valor Presupuestado </th>
            <td mat-cell *matCellDef="let element"> {{element.Valor | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> <b>{{getTotalValor() | currency}}</b> </td>
          </ng-container>

          <ng-container matColumnDef="ValorComprometido">
            <th mat-header-cell *matHeaderCellDef> ValorComprometido </th>
            <td mat-cell *matCellDef="let element"> {{element.ValorComprometido | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> <b>{{getTotalValorComprometido() | currency}}</b> </td>
          </ng-container>

          <ng-container matColumnDef="ValorDisponible">
            <th mat-header-cell *matHeaderCellDef> ValorDisponible </th>
            <td mat-cell *matCellDef="let element"> {{element.ValorDisponible | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> <b>{{getTotalValorDisponible() | currency}}</b> </td>
          </ng-container>

          <ng-container matColumnDef="ValorBloqueado">
            <th mat-header-cell *matHeaderCellDef> ValorBloqueado </th>
            <td mat-cell *matCellDef="let element"> {{element.ValorBloqueado | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> <b>{{getTotalValorBloqueado() | currency}}</b> </td>
          </ng-container>

          <ng-container matColumnDef="Accion">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <a [routerLink]="['/presupuesto/',element.Id]">
                <span class="material-icons">visibility</span>
              </a>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDetallePresupuesto"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDetallePresupuesto;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumnsDetallePresupuesto"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>
<form [formGroup]="form">
<div class="col-12">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Crear presupuesto
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Año</mat-label>
            <mat-select placeholder="Año" formControlName="Ano">
              <mat-option *ngFor="let Ano of anios" [value]="Ano.Title">
                {{Ano.Title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Programa</mat-label>
            <mat-select placeholder="Programa" formControlName="Programa">
              <mat-option *ngFor="let programa of programas" [value]="programa.Title">
                {{programa.Title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Regional</mat-label>
            <mat-select placeholder="Regional" formControlName="Regional">
              <mat-option *ngFor="let regional of regional" [value]="regional.Title">
                {{regional.Title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Area</mat-label>
            <mat-select placeholder="Area" formControlName="Area">
              <mat-option *ngFor="let area of area" [value]="area.Title">
                {{area.Title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Cluster</mat-label>
            <mat-select placeholder="Cluster" formControlName="Cluster">
              <mat-option *ngFor="let cluster of cluster" [value]="cluster.Title">
                {{cluster.Title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" name="" id="" placeholder="Tiempo" formControlName="Tiempo">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Medida</mat-label>
            <mat-select placeholder="Medida" formControlName="Medida">
              <mat-option *ngFor="let medida of medidas" [value]="medida.Title">
                {{medida.Title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" name="" id="" placeholder="Concepto" formControlName="Concepto">
          </mat-form-field>
        </div>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-success" (click)="construirObjetoPresupuesto()">Agregar presupuesto</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</form>